 .GroupItem {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid var(--border-color);
    height: 40px
}
 .GroupItem button{
    background-color: var(--background-color);
    padding: 0.5em;
    border: none;   
    justify-content: space-around;

    border-radius: 50%  ;
    height: 30px;
    width: 30px;
    cursor: pointer;
    
}
 .GroupItem button:hover{
    background-color: rgb(45, 45, 45);
}

 .GroupItem button:hover .fa-trash{
    color: rgb(229, 15, 15);  
}
 .GroupItem button .fa-trash{
    width: 15px;
    height: 15px;
 
    transition: all 0.1s ease-in;
}