.CourseItem {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.CourseItem .CourseName{
    display: flex;
    color: white;
    padding: 0.5em;
    background-color: rgb(50, 153, 108);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.CourseItem .CourseName button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 153, 108);
    border: none;
    cursor: pointer;
    margin-right: 1em;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.CourseItem .CourseName button .ButtonIcon{
    width: 20px;
    height: 15px;
}

.CourseItem .CourseName button:hover{
    background-color: rgb(50, 153, 108);
}

.CourseItem .CourseGroup {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin: 0.5em 0 0.5em 0;
}
.CourseItem .CourseGroup button{
    background-color: rgb(64, 64, 64);
    padding: 0.5em;
    border: none;   
    justify-content: space-around;
    margin: 0.5em 0 0.5em 0;
    border-radius: 50%  ;
    height: 40px;
    width: 40px;
    cursor: pointer;
    
}
.CourseItem .CourseGroup button:hover{
    background-color: rgb(45, 45, 45);
}

.CourseItem .CourseGroup button:hover .fa-trash{
    color: rgb(229, 15, 15);  
}
.CourseItem .CourseGroup button .fa-trash{
    width: 20px;
    height: 18px;
    color: white;    
    transition: all 0.1s ease-in;
}



