.GroupSelector{
    padding: 0.4em;
    padding: 0.4em 0em 0.4em 1em;
    display: flex;
    background-color: rgb(64, 64, 64);
    color: white;
    border: 2px solid rgb(50, 153, 108);
    border-radius: 1em;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.3 ease-in-out     
}

.GroupSelector:hover{
    border: 2px solid rgb(175, 188, 178);
}