.Header{
    width: 100%;
    color: var(--primary-color-text);
    background: var(--secondary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-weight: 400;
}
.Header h1{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 200;
}