.Header{
    width: 100%;
    color: white;
    background: rgb(50, 153, 108);
    background: linear-gradient(0deg, rgb(50, 153, 108) 0%, rgb(50, 153, 108) 100%);font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.Header h1{
    margin: 0;
    font-size: 2rem;
}