.modal-content .modal-close-icon {
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
}

.modal-content {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    padding: 40px;
    font-family: "Roboto", sans-serif;
    margin: -20px;
    z-index: 1000;
    border: 3px solid #369d68;

}
.modal-content h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
}












